<div class="row">
    <div class="column">
    <img src="/assets/JakubKrol.jpg" alt="selfie">
</div>
<div class="column">
  <h2>ABOUT ME</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl nisi, interdum sit amet eros eu, facilisis pellentesque libero. Mauris interdum maximus lectus. Donec eu tempor erat. Praesent sapien nunc, condimentum sed pretium vitae, eleifend non massa. Integer ut aliquet turpis, ut dictum justo. Etiam id congue est, eu elementum mauris. Maecenas fringilla est ac erat imperdiet, vel hendrerit turpis lobortis. Phasellus ullamcorper volutpat sem, ut consequat urna molestie ut. Donec gravida egestas tellus, vitae maximus lacus tempus condimentum.</p>
</div>
</div>